.methodBlock {
  width: 70%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 0 16px;
  text-align: center;
}

.methodBlock p {
  margin: 16px 0;
}

.methodBlock code {
  display: block;
  margin: 16px 0;
  font-size: 1.2em;
  font-weight: bold;
}